<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2>comprar</h2>
    
    <form action="/compra-action" method="post">
    
       
        <input type="text" placeholder="nome" name="nomeCliente">
        <br> <br>
        <input type="text" placeholder="cpf" name="cpf">
        <br> <br>
        <input type="text" placeholder="cep" name="cep">
        <br> <br>
        <input type="text" placeholder="rua" name="rua">
        <br> <br>
        <input type="text" placeholder="cidade" name="cidade">
        <br><br>
        <input type="number" placeholder="numero" name="numero">
        <br> <br>
        <input type="text" placeholder="complemento" name="complemento">
        <br> <br>
        
        <input type="number" placeholder="quantidade" name="quant">
        <br> <br>
        <input type="text" placeholder="bebida" name="bebida">
        <br> <br>
        <input type="number" placeholder="quantidade de bebida" name="quantBebida">
        <br> <br>
        <label for="pago">pague</label>
        <input type="checkbox" placeholder="preço" name="pago" id="pago">
        <br> <br>
        <input type="number" placeholder="id do Preduto" name="idProduto">
        <br> <br>
    
        <input type="submit" value="adicionar">
        <button><a href="/">cancelar</a></button>
    </form>
    
</body>
</html>