<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2>comprar</h2>
    
    <form action="/compra-action" method="post">
    
       
        <input type="text" placeholder="nome" name="nome">
        <br> <br>
        <input type="text" placeholder="cpf" name="cpf">
        <br> <br>
        <input type="text" placeholder="nome do produto" name="nomep">
        <br> <br>
        <input type="text" placeholder="preço" name="preco">
        <br> <br>
        <textarea name="comment" id="" cols="20" rows="5" placeholder="adicionar um comentario"></textarea>
        <br>
        <input type="number" placeholder="quantidate" name="quant">
        <br> <br>
        <label for="pago">pague agora</label>
        <input type="checkbox" placeholder="preço" name="pago" id="pago">
        <br> <br>
    
        <input type="submit" value="adicionar">
        <button><a href="/">cancelar</a></button>
    </form>
    
</body>
</html>