

.formCreatebase{
    background-color: white;
   width: 40%;
   margin: auto;
   border-radius: 10px;
}

.formCreateContent{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formCreateContent input{
    height: 30px;
    padding-left: 10px;
}
.formCreateContent textarea{
   
    padding-left: 10px;
}

.uplaod{
    padding-left: 0px!important;
}


.formCreateContent label{
   font-size: 17px;
   font-weight: 700;
}


.formCreate{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
}

.buttons{
     gap: 30px;
 }
.buttons a button{
   width: 100%;
   height: 30px;
}

.categoria{
    flex-direction: revert;
    width: 100%;
    justify-content: space-between;

}

.categoria select{
    height: 30px;
    width: 40%;
    font-size: 17px;
    font-weight: 700;
}

.titleCreate{
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
}

.bars{
    width: 90%;
}

.submitCreate{
    height: 30px;
    color: white;
    background-color: red;
    border: none;
    cursor: pointer;
    margin-top: 40px;
    border-radius: 5px;
    font-size: 17px;
    text-transform: capitalize;
}
.submitCreate:hover,.cancelCreate:hover{
    opacity: 0.3;
}

.cancelCreate{
    height: 40px;
    color: white;
    background-color: rgb(150, 150, 150);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 17px;
    text-transform: capitalize;
}

@media (max-width:1025px) {
    .formCreatebase{
        background-color: white;
       width: 100%;
       margin: auto;
       border-radius: 10px;
    }
}