

#showOrder {
    display: none;
}
#hideOrder {
    display: block;
}
.entregado{
    cursor: not-allowed!important;
}
.pedidoBase1{
    width: 90%;
   
}
.preparando{
    display: flex;
    align-items: center;
    gap: 20px;
}

.preparando div:nth-child(1) {
  margin-top: 5px;
}

.cardCliente{
    width: 600px;
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    padding: 30px;
    border-radius: 10px;
    height: 386px;
}


.cardBasePedido{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 50px;
    gap: 50px;
    margin: 50px 0;
    width: 100%;
    align-items: center;
   
}

@media (max-width:1600px) {
    .cardBasePedido{
       
        justify-content: center;

    }
}

.dadoPedido{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.barra2{
    width: 100%;
    height: 2px;
    background-color: rgb(37, 37, 37);
}

.nuPedido{
    font-size: 20px;
    font-weight: 700;
}
.nuPedido span {
    font-size: 17px;
    font-weight: 400;
}

.dadoPedido div {
    font-size: 18px;
    font-weight: 700;
}

.dadoPedido div span{
font-size: 17px;
    font-weight: 400;
}

.dadoPedido div {
  display: flex;
  gap: 20px;
  align-items: center;
}

.infoCliente{
       
       display: flex;
        flex-direction: column;    
        width: 90%;
       align-items: flex-end;
      
}

.profileItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.infoCliente div {
text-transform: capitalize;
    font-size: 18px;
    font-weight: 700;
   
}
.infoCliente div span{

    font-size: 17px;
    font-weight: 400;
   padding: 0 10px;
   text-transform: capitalize;
}



.valorTotal{
    color: red;
}
.valorTotal span {
    font-size: 18px!important;
    font-weight: 700!important;
    color: red;
}

.btnPedidoCancelar{
    font-size: 18px !important;
    color: white;
    text-transform: capitalize;
    background-color: red;
    border: none;
    margin-top: 10px;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px 0;
}

.colorZinca{
    background-color: rgb(135, 135, 135);
    opacity: 0.3;
    cursor: not-allowed;
}

.cardBase{
    background-color: #14171f;
}

.profile{
    display: flex;
    align-items: center;
    background-color: red;
    padding: 10px;
    border-radius: 5px;
    font-size: 17px;
    justify-content: space-between;
    width: 250px;
    color: white;
}

.profile span{
   text-transform: capitalize;
    font-size: 17px;
}

.avatar{
    display: flex;
    align-items: center;
    gap: 10px;
}

.iconProfile{
    font-size: 30px;
}

.profileContent{
    width: 250px;
    position: absolute;
  background-color: white;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 10px;
  border-radius: 5px;
  transition: all 0.3s;
  height: 540px;
  overflow: hidden;
  z-index: 20;
  border: 1px solid red;
  box-shadow: 0px 2px 10px black;
}
.profileContentUser{
    width: 250px;
    position: absolute;
  background-color: white;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 10px;
  border-radius: 5px;
  transition: all 0.3s;
  height: 100px;
  overflow: hidden;
  z-index: 20;
  border: 1px solid red;
  box-shadow: 0px 2px 10px black;
}

.hideProfileContent{
    width: 250px;
    transition: all 0.3s;
    height: 0px;
    overflow: hidden;
    position: absolute;
    z-index: 20;
    
}

.sair{
    width: 100%;
    text-align: center;
    background-color: red;
    margin-top: 10px;
    font-size: 30px;
    color: white;
    border-radius: 3px;
    padding: 5px 0;
    cursor: pointer;
}

.sair:hover{
   opacity: .3;
}

.profileUser{
    display: flex;
    align-items: center;
    background-color: red;
    padding: 10px;
    border-radius: 5px;
    font-size: 17px;
    justify-content: space-between;
    width: 250px;
    color: white;
}


@media (max-width:1025px) {
.pedidoBase1 {
        width: 80%;

    }

    .preparando {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .preparando div:nth-child(1) {
        margin-top: 5px;
    }

    .cardCliente {
        width: 100%;
        display: flex;
        background-color: rgb(255, 255, 255);
        justify-content: space-between;
        flex-direction: column;
        padding: 30px;
        border-radius: 10px;
        gap: 30px;
    }


    .cardBasePedido {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 50px;
        gap: 50px;
        margin: 50px 0;
        width: 100%;
        align-items: center;

    }

    @media (max-width:1600px) {
        .cardBasePedido {

            justify-content: center;

        }
    }

    .dadoPedido {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .barra2 {
        width: 100%;
        height: 2px;
        background-color: rgb(37, 37, 37);
    }

    .nuPedido {
        font-size: 20px;
        font-weight: 700;
    }

    .nuPedido span {
        font-size: 17px;
        font-weight: 400;
    }

    .dadoPedido div {
        font-size: 18px;
        font-weight: 700;
    }

    .dadoPedido div span {
        font-size: 17px;
        font-weight: 400;
    }

    .dadoPedido div {
        display: flex;
        gap: 20px;
        align-items: center;
    }

    .infoCliente {

        display: flex;
        flex-direction: column;
        width: 90%;
        align-items: center;

    }

    .profileItem {
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .infoCliente div {
        text-transform: capitalize;
        font-size: 18px;
        font-weight: 700;

    }

    .infoCliente div span {

        font-size: 17px;
        font-weight: 400;
        padding: 0 10px;
        text-transform: capitalize;
    }



    .valorTotal {
        color: red;
    }

    .valorTotal span {
        font-size: 18px !important;
        font-weight: 700 !important;
        color: red;
    }

    .btnPedidoCancelar {
        font-size: 18px !important;
        color: white;
        text-transform: capitalize;
        background-color: red;
        border: none;
        margin-top: 10px;
        border-radius: 3px;
        cursor: pointer;
        padding: 5px 0;
    }

    .colorZinca {
        background-color: rgb(135, 135, 135);
        opacity: 0.3;
        cursor: not-allowed;
    }

    .cardBase {
        background-color: #14171f;
    }

    .profile {
        display: flex;
        align-items: center;
        background-color: red;
        padding: 10px;
        border-radius: 5px;
        font-size: 17px;
        justify-content: space-between;
        width: 250px;
        color: white;
    }

    .profile span {
        text-transform: capitalize;
        font-size: 17px;
    }

    .avatar {
        display: flex;
        align-items: center;

    }

    .iconProfile {
        font-size: 30px;
    }

    .profileContent {
        width: 250px;
        position: absolute;
        background-color: white;
        padding: 20px 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 10px;
        border-radius: 5px;
        transition: all 0.3s;
        height: 530px;
        overflow: hidden;
        z-index: 20;
        border: 1px solid red;
        box-shadow: 0px 2px 10px black;
    }

    .hideProfileContent {
        width: 250px;
        transition: all 0.3s;
        height: 0px;
        overflow: hidden;
        position: absolute;
        z-index: 20;

    }

    .sair {
        width: 100%;
        text-align: center;
        background-color: red;
        margin-top: 10px;
        font-size: 30px;
        color: white;
        border-radius: 3px;
        padding: 5px 0;
        cursor: pointer;
    }

    .sair:hover {
        opacity: .3;
    }


        .infoClienteMobile {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: flex-start!important;
            margin-bottom: 30px;
        }
}
 .infoClienteMobile {
     display: flex;
     flex-direction: column;
     width: 100%;
     align-items: flex-end;
     margin-bottom: 30px;
 }