.cardContent {
    background-color: #5F5F5F;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 50px 0 100px 0;
}

.title {
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    margin-left: 20px;
}

@media (max-width:1025px) {
.title {
        
        margin-left: 0px;
        text-align: center;
    }
}